* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url(./bootstrap-5.0.2-dist/css/bootstrap.min.css);

html, body {
    font-family: 'LinhAvantGarde', sans-serif !important;
}

a {
    text-decoration: none;
}

.title-grey {
    font-weight: 700;
    display: inline-block;
    font-size: 33px;
    color: #4e4e4e;
    margin: 50px 0;
}

.center {
    text-align: center;
}

.clear {
    clear: both;
}

.white-text {
    color: #fff;
}

.upper-text {
    text-transform: uppercase;
}

.mg-bot8 {
    margin-bottom: 8px;
}

.bold-text {
    font-weight: bold;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    height: 240px;
    background: linear-gradient(to bottom, rgba(157,29,31,1) 0%,rgba(157,29,31,1) 29%,rgba(157,29,31,0.98) 30%,rgba(157,29,31,0.93) 39%,rgba(157,29,31,0.88) 49%,rgba(157,29,31,0.76) 59%,rgba(157,29,31,0.28) 79%,rgba(157,29,31,0.02) 89%,rgba(157,29,31,0) 100%);
}

.header-scroll-height {
    height: 165px;
}

#search-area {
    background-color: #333333;
    padding: 15px 150px 0 150px;
    display: none;
}

.search-icon {
    color: #fff;
    margin-right: 6px;
    font-size: 17px;
    padding: 4px;
}

.search-input {
    padding: 4px;
    width: 96%;
    margin-bottom: 15px;
}

.bgHeader{
    background-color: #c02135;
}

.second-navBg {
    background-color: #fdfdfe;
    box-shadow: 0 0px 3px 2px rgb(0 0 0 / 30%) !important;
}

.second-navBg-text {
    color: #393637 !important;
}

.header-content {
    /* background-color: #c02135; */
    height: 110px;
    position: relative;
    padding: 0 140px;
    display: flex;
    justify-content: space-between;
    /* display: grid;
    grid-template-columns: 0.05fr 0.6fr 0.8fr 0.04fr 0.04fr; */
}

.logo-img {
    width: 55px;
    height: 80px;
}

.vi-img {
    width: 25px;
    height: 18px;
}

.en-img {
    width: 25px;
    height: 16px;
}

.text-sologan {
    margin: 30px 0;
}

.text-sologan li {
    list-style-type: none;
}

.name-vi {
    font-size: 27px;
    text-decoration: none;
}

.name-en {
    font-size: 15.5px;
    text-decoration: none;
}

.logo {
    padding: 15px 5px 11px 16px;
    display: inline-block;
}

.menu-right-nav li {
    list-style-type: none;
    padding: 20px 15px;
    line-height: 70px;
    
}

.menu-right-nav ul {
    /* display: grid;
    grid-template-columns: 0.7fr 0.8fr 0.1fr 0.8fr 0.5fr 0.2fr; */
    display: flex;
    justify-content: space-evenly;
    margin-left: 80px;
}

.menu-right-nav li a {
    color: #fff;
    font-weight: 525;
    display: inline-block;
}

.search-header {
    line-height: 110px;
    color: #fff;
    cursor: pointer;
}

.language {
    margin-top: 22px;
    margin-right: 8px;
}

.second-nav {
    /* background-color: #fdfdfe; */
    box-shadow: none;
    /* box-shadow: 0 0px 3px 2px rgb(0 0 0 / 30%); */
    position: relative;
}

.second-nav ul {
    margin: 0 140px;
    display: flex;
    justify-content: space-between;
}

.second-nav li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 16px;
}



.second-nav li a {
    text-decoration: none;
    /* color: #333; */
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
}

.second-nav li:hover .second-sub-nav {
    display: block;
}

.second-nav .second-sub-nav {
    display: none;
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.second-nav .second-sub-nav li {
    display: block;
}

.second-nav .second-sub-nav li a {
    color: #000;
    font-size: 14px;
}

.second-nav .second-sub-nav li a:hover {
    color: #c02135;
}

.img-head-banner {
    width: 100%;
    height: 496px;
}

#news-section {
    margin: 0 150px;
}

#news-section .title {
    margin: 50px 0;
}

#news-section .title h2 {
    color: #4e4e4e;
    font-size: 36px;
    display: inline-block;
    font-weight: 700;
}

#news-section .title h2::after {
    content: "";
    display: block;
    height: 3px;
    background-color: #4e4e4e;
    margin-top: 10px;
}

.news-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-auto-rows: minmax(60px, auto);
    
    column-gap: 20px;
}

.news-container .item1 h3 {
    margin-top: 15px;
}

.news-container .item1 h3 a {
    text-decoration: none;
    color: #4e4e4e;
    font-size: 16px;
    font-weight: 600 !important;
}

.news-container .item1 h3 a:hover {
    color: #c02135;
}

.img-zoom-container  {
    margin: 0 auto;
    overflow: hidden;
}

.zoom-img {
    width: 100%;
    transition: transform .5s ease;
}

.zoom-img:hover {
    transform: scale(1.3);
}

.news-container .item2 .img-item2 {
    width: 100%;
    
    display: block;
}

.news-container .item2 .bottom-slide {
    margin-top: 20px;
}

.news-container .content-item3 a {
    color: #4e4e4e;
    text-decoration: none;
    font-size: 16px;
}

.news-container .content-item3 a:hover {
    color: #c02135;
}

.news-container .item3 div::after {
    content: "";
    display: block;
    background-color: #4e4e4e;
    height: 0.5px;
    margin: 19px 0;
}

.news-see-btn {
    margin: 50px 0;
}

.see-all-btn {
    padding: 8px 40px;
    font-weight: 400;
    font-size: 17px;
    display: inline-block;
    border: 2px solid #b02c2a;
    color: #b02c2a;
    background-color: #fff;
    border-radius: 30px;
    cursor: pointer;
}

.see-all-btn:hover {
    background-color: #b02c2a;
    color: #fff;
}

#event-section {
    background-color: #3e3e3d;
    margin: 0 5px;
    padding-bottom: 140px;
}

#event-section .title h2 {
    font-size: 36px;
    font-weight: 700px;
    display: inline-block;
}

#event-section .title h2::after {
    content: "";
    display: block;
    height: 3px;
    background-color: #fff;
    margin-top: 10px;
}

.event-container .item1, .event-container .item2 {
    background-color: #fff;
}

#event-section .title {
    padding: 50px 0;
}

.event-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    padding: 0 5px 0 11px;
    margin: 0 140px;
    grid-auto-rows: minmax(450px, auto);
}

.event-item-img {
    width: 100%;
    display: block;
    height: 271px;
}

.event-container .item1 .event-item-content {
    position: relative;
}

.event-container .item2 .event-item-content {
    position: relative;
}

.event-container .event-item-content {
    padding: 40px 20px 20px;
}

.event-container .event-item-content h2 a{
    color: #b42025;
    font-size: 16px;
    margin-bottom: 5px;
}

.event-container .event-item-content h3 a{
    color: #4e4e4e;
    font-size: 16px;
}

.month {
    font-size: 12px;
}

.date {
    font-size: 32px;
    font-weight: 600;
}

.event-container .date-publish {
    padding: 20px 5px; 
    background-color: #b41d24;
    color: #fff;
    width: 70px;
    height: 90px; 
    display: block;
    text-align: center;
    position: absolute;
    right: 15px;
    top: -50px;
}

.event-container .item3 {
    background-color: #fff;
}

.event-container .event-item3-content a {
    color: #4e4e4e;
    font-size: 16px;
    font-weight: 400;
}

.date-event-item3 {
    display: inline-block;
    width: 70px;
    height: 90px; 
    padding: 20px 5px;
    text-align: center;
    background-color: #b41d24;
    color: #fff;
    margin-right: 10px;
}

.event-container .event-item3-content {
    padding: 15px 15px 0;
}

.event-container .event-item3-content .item3-inner {
    width: 260px;
    height: 120px;
    float: right;
}

#reserch-coop-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    margin: 0 145px 0 151px;
}

#reserch-coop-section h2::after {
    content: "";
    display: block;
    height: 3px;
    background-color: #4e4e4e;
    margin-top: 10px;
}

.research-coop-img {
    width: 100%;
    height: 510px;
}

.research-content:hover .background-hover {
    position: absolute;
    width: 100%;
    height: 510px;
    background-color: #0e1215;
    opacity: 0.7;
    z-index: 1;
}

.research-content {
    position: relative;
}

.co-op-content {
    position: relative;
}

.img-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #fff;
    z-index: 2;
    display: none;
}

.research-content:hover > .img-content {
    display: block;
}

.co-op-content:hover .background-hover {
    position: absolute;
    width: 100%;
    height: 510px;
    background-color: #0e1215;
    opacity: 0.7;
    z-index: 1;
}

.research-content:hover > .img-content {
    display: block;
}

.co-op-content:hover > .img-content {
    display: block;
}


.img-content li {
    margin-bottom: 20px;
    line-height: 1.43;
}

.research-content a, .co-op-content a {
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
}


#enroll-section h2::after {
    content: "";
    display: block;
    height: 3px;
    background-color: #4e4e4e;
    margin-top: 10px;
}

.enroll-img {
    width: 100%;
    height: 250px;
}

#enroll-section {
    margin: 0 155px 0 157px;
}

.enroll-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 30px 40px;
    box-shadow: 0 0px 3px 2px rgb(0 0 0 / 30%);
}

.enroll-container .item2 {
    padding-left: 50px;
}

.enroll-container .item2 h3 {
    color: #4e4e4e;
    font-size: 16px;
}

.enroll-container ul {
    padding-left: 15px;
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 27px;
}

.enroll-container li a, .enroll-container li {
    color: #c02135;
}

.enroll-container li a:hover {
    color: #4e4e4e;
}

#student-life-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 22px;
    margin: 0 155px 0 157px;
}

#student-life-section h2::after {
    content: "";
    display: block;
    height: 3px;
    background-color: #4e4e4e;
    margin-top: 10px;
}

.student-life-img {
    width: 100%;
    height: 250px;
}

#student-life-section h3 {
    color: #4e4e4e;
    font-size: 13px;
    line-height: 1.5;
}

#student-life-section .item-inner {
    margin-top: 20px;
    min-height: 95px;
}

#footer-section-top {
    background-color: #d9d9d8;
    padding: 50px 0 20px 0;
}

.footer-top-container {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1.5fr 200px;
    margin: 0 155px 0 157px;
}

.footer-top-container .panel-heading {
    color: #393637;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 19px;
    padding: 10px 10px 0 0;
}

.footer-top-container .item3 .panel-heading {
    margin-left: 29px;
}

.footer-top-container .item1 .name-uni {
    font-weight: 600;
    font-size: 15px;
    color: #393637;
}

.footer-top-container .item3 ul {
    margin: 15px 0 2px 0;
    padding: 0 15px 15px 30px;
    display: inline-block;
}

.footer-top-container .item3 li {
    list-style-type: none;
    margin-bottom: 7px;
}

.footer-top-container .item3 li a, 
.footer-top-container .item4 a {
    color: #393637;
    font-weight: 550;
    font-size: 15px;
}

.footer-top-container .item4 .panel-body {
    margin-top: 15px;
}

.footer-top-container .item3 {
    position: relative;
}

.footer-top-container .item3::before {
    content: "";
    border-color: #393637;
    border-width: 0.5px;
    border-style: solid;
    height: 20vh;
    top: 14px;
    position: absolute;
}

.footer-top-container .item4::before {
    content: "";
    border-color: #393637;
    border-width: 0.5px;
    border-style: solid;
    height: 20vh;
    top: 14px;
    position: absolute;
}

#footer-section-bottom {
    background-color: #b41d24;
    padding: 20px 0;
    
}

.footer-bottom-img {
    width: 200px;
    height: 79px;
}

.footer-bottom-container {
    margin: 0 157px 0 155px;
    height: 79px;
}

.footer-bottom-content-right {
    color: #dcdcdc;
    font-weight: 600;
    text-align: right;
    line-height: 1.42857;
    margin: auto;
    font-size: 16px;
    width: 100%;
    float: right;
}

.footer-bottom-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.social {
    position: fixed;
    right: 4px;
    top: 35%;
}

.social li {
    list-style-type: none;
}

.social li a {
    display: block;
    width: 40px;
    height: 40px;
}

.social ul {
    display: inline-block;
}

.social li a {
    color: #fff;
    width: 40px;
    height: 40px;
}

.social-red {
    background-color: #b42025;
}

.social-blue {
    background-color: #3a5a9b;
}

.social-red2 {
    background-color: #bc2126;
}

.social-blue2 {
    background-color: #017cb7;
}

.social-red3 {
    background-color: #de4d38;
}

.social-blue3 {
    background-color: #62a8dc;
}

.social i {
    display: block;
    font-size: 30px;
    padding: 5px 5px 0 5px;
}